/* Body styles */
body::before {
    content: "";
    background-image: url('img/bell-peppers-bg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Adjust the blur level as needed */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element behind everything */
}

body {
    font-family: Arial, sans-serif;
    background-color: transparent; /* Set body background to transparent */
    margin: 0;
    padding: 0;
    position: relative; /* Add this for stacking context */
}
/* Header styles */
h1 {
    text-align: center;
    color: green;
    margin-top: 20px;
    background-color: white; /* Set the background color to white */
    padding: 10px 20px; /* Add padding to create some space around the text */
    border-radius: 20px; /* Set the border-radius for rounded corners */

}

/* Form styles */
#upload-form {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

#file-input {
    display: block;
    margin: 10px auto;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #007700;
}

/* Result styles */
#result {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#prediction {
    font-size: 18px;
    color: green;
}

#confidence {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}

/* Alert styles */
.alert {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#result {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

#uploaded-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#prediction {
    font-size: 18px;
    color: green;
}

#confidence {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}

footer {
    background-color: #aaaaaa; /* Elegant gray color */
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin-right: 10px;
}

.github-info {
    font-size: 18px;
}

.github-info a {
    color: #333; /* Text color for links */
    text-decoration: none;
}

.github-info a:hover {
    text-decoration: underline;
}