/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header styles */
h1 {
    text-align: center;
    color: green;
    margin-top: 20px;
}

/* Form styles */
#upload-form {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

#file-input {
    display: block;
    margin: 10px auto;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #007700;
}

/* Result styles */
#result {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#prediction {
    font-size: 18px;
    color: green;
}

#confidence {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}

/* Alert styles */
.alert {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#result {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

#uploaded-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#prediction {
    font-size: 18px;
    color: green;
}

#confidence {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}

footer {
    background-color: #aaaaaa; /* Elegant gray color */
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin-right: 10px;
}

.github-info {
    font-size: 18px;
}

.github-info a {
    color: #333; /* Text color for links */
    text-decoration: none;
}

.github-info a:hover {
    text-decoration: underline;
}